body {
  font-family: 'Quicksand', sans-serif;
  background: #edddd4;
  color: #283d3b;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0 1.5rem 0 1rem;
  line-height: 3rem;
}

li {
  white-space: nowrap;
}

i {
  margin-right: 1rem;
}

h1 {
  font-size: 1.8rem;
}

header {
  margin-bottom: 1rem;
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
}

#vegburger, #cart-icon {
  margin: 1rem 0 0 2.5rem;
  color: #edddd4;
  background: #197278;
  font-size: 1.5rem;
  z-index: 2;
  border-radius: 50%;
  padding: 0.8rem 0.8rem 0.8rem 1rem;
  width: 1.3rem;
}

#cart-icon {
  margin: 1rem 2.5rem 0 0;
}

nav {
  position: absolute;
  top: 0;
  height: 100%;
  background: #197278;
  color: #edddd4;
  transform: translateX(-10rem);
  padding-top: 3.8rem;
  transition: transform 350ms ease-in-out;
}

nav a {
  color: #edddd4;
  text-decoration: none;
  font-weight: bold;
}

.menu-active {
  transform: translateX(0);
}

#cart-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #7C6A0A;
  color: #fff;
  min-width: 60%;
  padding: 3.8rem 1rem;
  transform: translateY(-140vh);
  transition: transform 350ms ease-in-out;
}

#cart-content.active {
  transform: translateY(0);
}

#cart-items li:last-child {
  font-weight: bold;
  font-size: 150%;
}

main h1 {
  margin: 0 1rem;
}

#products {
  text-align: center;
}

#products h2 {
  background: #D8315B;
  color: #fff;
  padding: .3rem 1rem;
  border-bottom: .3rem solid #fff;
}

#products p {
  font-variant: small-caps;
  font-size: 1.5rem;
}

#products img {
  width: 75%;
}

#products a {
  background:  #197278;
  padding: .3rem 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  #products {
    display: flex;
    flex-wrap: wrap;
  }
  #products div {
    margin: 0 .5rem;
    width: 30%;
  }
}