body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}
main {
  margin: 1rem auto;
  max-width: 75rem;
}
form {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
input {
  margin: 0 auto;
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #cbf3f0;
}
#loader {
  display: none;
  text-align: center;
}
ul {
  list-style: none;
  margin: 1rem;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.3rem;
  margin: 1.5rem;
  background: linear-gradient(to bottom, #cbf3f0, #8bd3cd);
  filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}
h2 {
  background-color: #2ec4b6;
  border-radius: 0.3rem;
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
}
.recipe {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  font-size: 1.3rem;
}
.recipe img {
  width: 10rem;
  margin-right: 2rem;
}
.recipe p {
  margin-top: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  margin: 0 auto 1rem;
  width: 4rem;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 3rem;
  background-color: #2ec4b6;
  border-radius: 50%;
  color: #fff;
  filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  transition: all 0.3s ease-in-out;
}
a.link {
  transform: rotate(90deg);
}
a.liked {
  background-color: #ff495c;
}
a.link:hover,
a.like:hover {
  transform: rotate(0) scale(1.2);
  filter: drop-shadow(0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.25));
}

#likes {
  position: relative;
  width: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: #ff495c;
  border-radius: 50%;
}
#likesCount {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  background-color: #256eff;
  font-size: 1rem;
  border-radius: 50%;
  width: 1rem;
}
.pop {
  animation: pop 300ms ease-in-out;
}
@keyframes pop {
  50% {
    transform: scale(1.5);
  }
}
